.searchUsers{
  &__spinner{
    display: flex;
    justify-content: center;
  }

  &-user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 8px;
  }
}
