@import "src/styles/vars";

.main{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 340px;
  width: 100%;
  height: 460px;
  padding: 50px 30px 30px;
  text-align: center;
  background: #FFF;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
  border-radius: 12px;

  &_reg{
    height: auto;
  }

  &-footer{
    margin-top: 60px;
  }

  &__title{
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 40px;
  }

  &__input{
    width: 100%;

    &:last-child{
      margin-bottom: 0;
    }
  }

  &__btn{
    width: 100%;
    margin-bottom: 14px;
  }

  &__link{
    font-size: 12px;
    line-height: 11px;
    color: $primary;
  }
}
