@import "src/styles/vars";

.messenger{
  &-wrapper{
    position: relative;
    display: flex;
  }

  &-placeholder{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;

    &__text{
      font-size: 14px;
      line-height: 12px;
      color: $gray;
    }
  }
}
