$primary: #3369F3;
$primary_light: #E4EDFD;
$black: #1E1E1E;
$gray: #999;
$gray_light: #EAEAEA;
$gray_bg: #FBFBFB;
$message_bg: #F8F8F8;
$danger: #FF2F2F;

$font-f: 'Inter', sans-serif;

$chatList_width: 340px;