---
title: Произошла ошибка
css:
    - index.scss
    - errorPage.scss
---
{{!< base}}

<main class="main">
    <h1 class="title">500</h1>
    <p class="desc">Уже исправляем</p>
    <a href="index.hbs" class="link">Назад к чатам</a>
</main>