---
title: Мессенджер
css:
    - index.scss
    - messenger.scss
    - dialogs.scss
---
{{!< base}}

<div class="messenger-wrapper">
    {{> dialogs}}
    <main class="messenger-placeholder">
        <h5 class="messenger-placeholder__text">Выберите чат чтобы отправить сообщение</h5>
    </main>
</div>
