---
title: Профиль пользователя
css:
- index.scss
- profile.scss

---
{{!< base}}

<main class="profile">
    {{> avatar classes="profile__avatar"}}
    <h4 class="profile__name">Колтунов Александр</h4>
    <form class="profile-form">
        <div class="profile-fields">

        </div>
    </form>
</main>
