@import "src/styles/vars";

.dialogs{
  background-color: #FBFBFB;
  max-width: 340px;
  height: 100vh;

  &-header{
    padding: 20px 10px 14px;

    &__avatar{
      margin-bottom: 14px;
    }
  }

  &__search{
    width: 100%;
  }
}
